<!-- views/retorno.ejs -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio Full Cycle</title>
</head>
<body>
    <h1>Lista de Usuários</h1>
    <ul>
        <% usuarios.forEach(usuario => { %>
            <li><%= usuario.nome %></li>
        <% }); %>
    </ul>
</body>
</html>
